.left-card {
    height: 12.3rem;
    background-color: #f4f3f4;
    width: 1.2rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    /* margin-top: 1rem; */
    left: 0;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.4);
    position: absolute;
}
.right-card {
    height: 12.3rem;
    background-color: #f4f3f4;
    width: 1.2rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    /* margin-top: 1rem; */
    right: 0;
    box-shadow: 0 1px 4px 1px rgba(0,0,0,0.4);
    position: absolute;
}

.container {
    height: 18rem;
    /* background-color: blue; */
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.container .card-stack {
    width: 100%;
    top: 1;
    position: absolute;
}
.container .card-stack .card-list {
    width: 100%;
}
.container .card-stack .card-list li {
    transition: all 100ms ease-in-out;
    border-radius: 1rem;
    position: absolute;
    list-style: none;
    height: 12rem;
    -webkit-box-shadow: 0 2px 15px 1px rgba(225,225,225,0.5);
    box-shadow: 0 1px 6px 1px rgba(0,0,0,0.6);
    left: 0;
    right: 0;
    /* margin: 0 auto; */
    margin-left: 6%;
    padding-top: 4.5rem;
    text-align: center;
    background-size: cover;
    z-index: 100;
}
.container .card-stack .card-list li:nth-child(1) {
    margin-top: 0rem;
    width: 82%;
}
.container .card-stack .card-list li:nth-child(2) {
    margin-top: 2.3rem;
    width: 82%;
}
.container .card-stack .card-list li:nth-child(3) {
    margin-top: 4.6rem;
    width: 82%;
}

.transformThis {
    animation: scaleDown 500ms;
}

@keyframes scaleUp {
    0% {
        transform: scale(1.2) translateY(50px);
        opacity: 0;
   }
    20% {
        transform: scale(1.15) translateY(40px);
        opacity: 0.10;
   }
    40% {
        transform: scale(1.10) translateY(30px);
        opacity: 0.20;
   }
    60% {
        transform: scale(1.05) translateY(20px);
        opacity: 0.40;
   }
    80% {
        transform: scale(1.01) translateY(10px);
        opacity: 0.80;
   }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
   }
}
@keyframes scaleDown {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
   }
    20% {
        transform: scale(1.01) translateY(20px);
        opacity: 0.80;
   }
    40% {
        transform: scale(1.05) translateY(40px);
        opacity: 0.40;
   }
    60% {
        transform: scale(1.10) translateY(60px);
        opacity: 0.20;
   }
    80% {
        transform: scale(1.15) translateY(80px);
        opacity: 0.10;
   }
    100% {
        transform: scale(1.2) translateY(100px);
        opacity: 0;
   }
}
@keyframes scaleCard {
    0% {
        top: 5px;
   }
    100% {
        top: 24px;
   }
}
@keyframes bounceInLeft {
    0% {
        opacity: 0;
        transform: translateX(40px);
   }
    100% {
        transform: translateX(0);
   }
}
@keyframes bounceInRight {
    0% {
        opacity: 0;
        transform: translateX(-40px);
   }
    100% {
        transform: translateX(0);
   }
}
