.App {
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  display: grid;
  place-items:start end;
}

body {
  padding: 0%;
  margin: 0%;
}

.showSnackbarBttn {
  width: 200px;
  height: 50px;
  background-color: cornflowerblue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
